<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="frontendPlugins" type="System.Configuration.NameValueSectionHandler,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="sharpPlugins" type="System.Configuration.NameValueSectionHandler,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <appSettings file="">
    <clear />
    <add key="processPriority" value="256" />
    <add key="fftOffset" value="-40.0" />
    <add key="automaticIQBalancePasses" value="5" />
    <add key="pllPhaseAdjM" value="0.0" />
    <add key="pllPhaseAdjB" value="-1.75" />
    <add key="deemphasisTime" value="50" />
    <add key="gradient" value="4A0000,750000,9F0000,C60000,FF0000,FE6D16,FFFF00,FFFFFF,1E90FF,000091,000050,000030,000020" />
    <add key="spectrumAnalyzerGradient" value="FFFFFF,ADD8E6,1E90FF,000050,000000" />
    <add key="spectrumAnalyzerEnvelopeColor" value="FFFFFF" />
    <add key="spectrumAnalyzerFillColor" value="1E90FF" />
    <add key="waterfall.useUtcTimeStamp" value="False" />
    <add key="stepSizes" value="1 Hz,10 Hz,100 Hz,500 Hz,1 kHz,2.5 kHz,5 kHz,6.25 kHz,7.5 kHz,8.33 kHz,9 kHz,10 kHz,12.5 kHz,15 kHz,20 kHz,25 kHz,30 kHz,50 kHz,100 kHz,150 kHz,200 kHz,250 kHz,300 kHz,350 kHz,400 kHz,450 kHz,500 kHz,1 MHz" />
    <add key="funcubeFrequencyCorrection" value="-21.0" />
    <add key="softrockFrequencyMultiplier" value="4" />
    <add key="RTLBufferLength" value="16384" />
    <add key="minOutputSampleRate" value="32000" />
    <add key="minThreadedSampleRate" value="1000000" />
    <add key="useHighDynamicRangeDecimation" value="True" />
    <add key="wideBandDecimationQuality" value="0.08" />
    <add key="narrowBandDecimationQuality" value="0.25" />
    <add key="airspy.decimationQuality" value="1.0" />
    <add key="airspy.highDynamicRangeDecimation" value="false" />
    <add key="airspy.usePacking" value="false" />
    <add key="rdsUseFEC" value="True" />
    <add key="timestampInterval" value="100" />
    <add key="SDRIQReadBlockCount" value="1" />
    <add key="zoomPosition" value="1" />
    <add key="displayBeforeFilter" value="True" />
    <add key="SDRIQOutFifoBlockCount" value="0" />
    <add key="SDRIQSampleRate" value="5" />
    <add key="SDRIQIFGain" value="5" />
    <add key="SDRIQRFGain" value="2" />
    <add key="enableZoomFFTFilter" value="False" />
    <add key="enableZoomIF" value="False" />
    <add key="enableZoomMPX" value="False" />
    <add key="enableZoomAF" value="False" />
    <add key="NBEnabled" value="False" />
    <add key="NBThreshold" value="80" />
    <add key="NBPulseWidth" value="10.0000001490116" />
    <add key="DNRIThreshold" value="-30" />
    <add key="DNRIEnabled" value="False" />
    <add key="DNRAThreshold" value="-70" />
    <add key="DNRAEnabled" value="False" />
    <add key="spectrumAnalyzerAttack" value="0.4" />
    <add key="spectrumAnalyzerDecay" value="0.34" />
    <add key="waterfallAttack" value="1" />
    <add key="waterfallDecay" value="0.86" />
    <add key="useTimeMarkers" value="False" />
    <add key="fftSpeed" value="40" />
    <add key="fftContrast" value="-5" />
    <add key="fftWindowType" value="3" />
    <add key="spectrumStyle" value="3" />
    <add key="fftView" value="2" />
    <add key="fftResolution" value="6" />
    <add key="detectorType" value="2" />
    <add key="useAGC" value="True" />
    <add key="agcThreshold" value="-50" />
    <add key="agcDecay" value="100" />
    <add key="agcSlope" value="0" />
    <add key="agcHang" value="True" />
    <add key="frequencyShift" value="0" />
    <add key="frequencyShiftEnabled" value="False" />
    <add key="swapIQ" value="False" />
    <add key="correctIQ" value="False" />
    <add key="markPeaks" value="False" />
    <add key="fmStereo" value="False" />
    <add key="filterAudio" value="True" />
    <add key="unityGain" value="False" />
    <add key="latency" value="100" />
    <add key="sampleRate" value="48000 sample/sec" />
    <add key="audioGain" value="44" />
    <add key="AudioIsMuted" value="False" />
    <add key="windowState" value="2" />
    <add key="windowPosition" value="182,0" />
    <add key="windowSize" value="1514,884" />
    <add key="collapsiblePanelStates" value="1,1,0,1,0,0,0,0,0,0" />
    <add key="splitterPosition" value="324" />
    <add key="iqSource" value="11" />
    <add key="waveFile" value="" />
    <add key="centerFrequency" value="561000" />
    <add key="vfo" value="612000" />
    <add key="tuningStyle" value="0" />
    <add key="fftDisplayOffset" value="0" />
    <add key="fftDisplayRange" value="11" />
    <add key="inputDevice" value="[MME] Microsoft Sound Mapper - Input" />
    <add key="outputDevice" value="[MME] Microsoft Sound Mapper - Output" />
    <add key="spectrumWidth" value="8000000" />
    <add key="lockCarrier" value="False" />
    <add key="useAntiFading" value="False" />
    <add key="wfmState" value="250000,100,3,50,0,600,1,17,0,1" />
    <add key="nfmState" value="32000,500,3,50,1,600,1,12,0,0" />
    <add key="amState" value="18490,500,3,50,0,600,1,4,0,1" />
    <add key="lsbState" value="2400,500,3,50,0,600,1,1,0,1" />
    <add key="usbState" value="16000,500,3,50,0,600,1,2,0,1" />
    <add key="dsbState" value="16250,500,3,50,0,600,1,1,0,1" />
    <add key="cwState" value="12000,800,3,50,0,600,1,1,0,1" />
    <add key="rawState" value="10000,450,3,50,0,600,1,4,1,0" />
    <add key="topSplitter" value="200" />
    <add key="bottomSplitter" value="200" />
    <add key="leftSplitter" value="200" />
    <add key="rightSplitter" value="200" />
    <add key="menuIsHidden" value="False" />
  </appSettings>
  <frontendPlugins>
    <add key="AIRSPY" value="SDRSharp.AirSpy.AirSpyIO,SDRSharp.AirSpy"/>
    <add key="RTL-SDR (USB)" value="SDRSharp.RTLSDR.RtlSdrIO,SDRSharp.RTLSDR" />
    <add key="RTL-SDR (TCP)" value="SDRSharp.RTLTCP.RtlTcpIO,SDRSharp.RTLTCP"/>
    <add key="RFSPACE Networked Radios" value="SDRSharp.SDRIP.SdrIpIO,SDRSharp.SDRIP"/>
    <add key="RFSPACE SDR-IQ (USB)" value="SDRSharp.SDRIQ.SdrIqIO,SDRSharp.SDRIQ"/>
    <add key="Afedri SDR-Net" value="SDRSharp.AfedriSDRNet.AfedriSdrNetIO,SDRSharp.AfedriSDRNet" />
    <add key="HackRF" value="SDRSharp.HackRF.HackRFIO,SDRSharp.HackRF"/>
    <add key="BladeRF" value="SDRSharp.BladeRF.BladeRFIO,SDRSharp.BladeRF" />
    <add key="FUNcube Dongle Pro" value="SDRSharp.FUNcube.FunCubeIO,SDRSharp.FUNcube"/>
    <add key="FUNcube Dongle Pro+" value="SDRSharp.FUNcubeProPlus.FunCubeProPlusIO,SDRSharp.FUNcubeProPlus"/>
    <add key="SoftRock (Si570)" value="SDRSharp.SoftRock.SoftRockIO,SDRSharp.SoftRock"/>
  </frontendPlugins>
  <sharpPlugins configSource="Plugins.xml"/>
</configuration>
